<%-include('../layouts/adminPartials/adminHeader.ejs') %>

<div class=" d-flex justify-content-center  " style="min-height: 100vh;">
        

    <section class="col-6 flex-column bg-light rounded border border-warning p-2 m-5" style="height: max-content; box-shadow: 8.10521px 12.15782px 8.10521px 1.01315px rgba(0, 0, 0, 0.50);">
        <% if (categories) { %>
            <form class="row d-flex justify-content-center" action="/admin/editCategory/<%= categories._id %>" method="post">
        <% } else { %>
            <form class="row d-flex justify-content-center" action="/admin/editCategory/<%= catId %>" method="post">
        <% } %>
    
        <div class="d-flex justify-content-center">
            <h1 class="font-bold">Add Category</h1>
        </div>
    
        <div class="form-group py-3">
            <label for="exampleInputEmail1" class="py-3 px-2 fw-bold">CATEGORY</label><br>
    
            <% if (!categories) { %>
                <span id="elementToHide" class="px-5 text-danger fw-bold">Category Name already exists</span>
            <% } %>
    
            <% if (categories) { %>
                <input type="text" class="form-control" name="category" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= categories.category %>"
                    placeholder="Enter New Category">
            <% } else { %>
                <input type="text" class="form-control" name="category" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= newCategory %>"
                    placeholder="Enter New Category">
            <% } %>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn bg-success rounded-pill px-5 fw-bold mt-3 border border-dark">Submit</button>
        </div>
        </form>
    
        <script>
            // Get a reference to the element you want to hide
            const elementToHide = document.getElementById('elementToHide');
    
            // Use setTimeout to hide the element after 3 seconds
            setTimeout(function() {
                elementToHide.style.display = 'none'; // Hide the element
            }, 2000); // 3000 milliseconds (3 seconds)
        </script>
    </section>
    


    
    
</div>

<%-include('../layouts/adminPartials/footer.ejs') %>